@import "reset.css";
@font-face {
  font-family: 'AkzidentzGrotesk';
  src: url(fonts/Akzidenz-Grotesk-Pro-Regular.ttf)
  format('truetype');
  font-weight: 400;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  margin: 25px;
}
body{
  width: 100vw;
  background-color: #000;
  color: #fff;
}
p:last-child{
  margin-top: 5px;
}
h1{
font-size: 64px;
font-weight: bold;
}
h3{
font-size: 30px;
}
p span{
  display: flex;
  flex-direction: column;
}
.numbers{
  margin-right: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.numbers p:last-child{
  font-size: 18px;
  font-weight: bold;
}
.top-left,
.top,
.bottom-mid{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 60px;
}
.big-block{
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 193px;
  height: 193px;
}
.big-block img{
  width: auto;
  height: 72px;
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.big-block h2{
  font-size: 46px;
  font-weight: 400;
  margin-left: 5px;
}
.big-block p{
  font-size: 11px;
  font-weight: 400;
  margin-left: 15px;
}
.big-block p:first-child{
  margin-top: 15px;
}


.side-block-1{
  position: relative;
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 136px;
  height: 136px;
  margin-bottom: -80px;
}
.side-block-1 h2{
  font-size: 46px;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px;
}
.side-block-1 p{
  font-size: 11px;
  font-weight: 400;
  margin-left: 15px;
}
.side-block-1 p:first-child{
  margin-top: 10px;
}


.side-block-2{
  position: absolute;
  margin-top: 137px;
  margin-left: 136px;
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 136px;
  height: 136px;
}
.side-block-2 h2{
  font-size: 46px;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px;
}
.side-block-2 p{
  font-size: 11px;
  font-weight: 400;
  margin-left: 15px;
}
.side-block-2 p:first-child{
  margin-top: 10px;
}

.side-block-1{
  margin-bottom: -80px;
}
/* first element */
/* .side-block-3{
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 136px;
  height: 136px;
}
.side-block-3 h2{
  font-size: 46px;
  font-weight: 400;
  margin-left: 15px;
  padding: 5px;
}
.side-block-3 p{
  font-size: 11px;
  font-weight: 400;
  margin-left: 15px;
}
.side-block-3 p:first-child{
  margin-top: 10px;
} */
.top{
margin-left: 250px;
}
.top-left{
  margin-top: 80px;
}



.bottom-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first_two{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.last_two{
    display: flex;
    flex-direction: row;
}
.element_3 .side-block-1{
  position: absolute;
  margin-top: -136px;
}
.element_3{
  position: absolute;
  margin-left: 329px;
}
.element_3 .side-block-2{
  margin-top: -80px;
}
.element_4{
position: relative;
margin-left: 460px;
margin-top: -80px;


}

@media (max-width: 320px) {
  header h1{
    font-size: 28px;
    line-height: 28px;
  }
    header h2{
      font-size: 18px;
    }
    .element_1{}
.top, .bottom-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

/* .side-block-1 .side-block-2{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
} */
