@import "reset.css";
@font-face {
  font-family: 'AkzidentzGrotesk';
  src: url(fonts/Akzidenz-Grotesk-Pro-Regular.ttf)
  format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Evolventa';
  src: url(fonts/Evolventa-Bold.ttf)
  format('truetype');
  font-weight: 800;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: 'AkzidentzGrotesk', helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
}
.circles{
  margin: 70px;
  margin-top: 200px;



}
.circle_1{
  position: absolute;
  margin: 40px;
  width: 70px;
  height: 70px;
  border-top: 3px solid #fff;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: rotate 4s 0s linear infinite;
}
.circle_2{
  position: absolute;
  padding: 50px;
  width: 45px;
  height: 45px;
  border-top: 3px solid #fff;
  border-right: 5px solid #fff;
  border-radius: 50%;
  transform: rotate(60deg);
  animation: rotate 3s 0s reverse ease-in-out infinite;
}
.circle_3{
  position: absolute;
  padding: 40px;
  margin-left: 25px;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 50%;
  transform: rotate(250deg);
  animation: rotate 5s 3s  ease-in infinite;
}
@keyframes rotate {
  from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
header{
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 60px;
}

p:last-child{
  margin-top: 5px;
}
h1{
font-size: 3vw;
font-weight: bold;
}
h3{
font-size: 1vw;
padding-top: 10px;

}
p span{
  display: flex;
  flex-direction: column;
}
.numbers{
  margin-right: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.numbers p:last-child{
  font-family: 'evolventa', helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.top-left,
.top,
.bottom-mid,
.right-mid{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 60px;
}
.big-block{
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 193px;
  height: 193px;
  margin-bottom: -4px;
}
.big-block img{
  width: auto;
  height: 72px;
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.big-block h2{
  font-size: 46px;
  font-weight: 400;
  margin-left: 5px;
}
.big-block p{
  font-size: 11px;
  font-weight: 400;
  margin-left: 15px;
}
.big-block p:first-child{
  margin-top: 15px;
}
 .big-block:hover{
   background-color: #3B214F;
 }
 .top .side-block-1:hover{
   background-color: #245D5A;
 }
 .top-left .side-block-1:hover{
   background-color: #611A1A;
 }
 .bottom-left .side-block-1:hover{
   background-color: #611A1A;
 }
 .top .side-block-2:hover{
   background-color: #F38C8C;
 }
 .bottom-mid .side-block-2:hover{
   background-color: #C5F3F1;
   color: black;
 }
 .bottom .side-block-2:hover{
   background-color: #C5F3F1;
   color: black;
 }
 .bottom .side-block-1:hover{
   background-color: #245D5A;
 }
 .bottom-mid .big-block:hover{
   background-color: #455AD1;

 }
 .right-mid .side-block-2:hover{
   background-color: #245D5A;
 }


.side-block-1{
  position: relative;
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 136px;
  height: 136px;

}
.element_1 .side-block-1{
    margin-bottom: -82px;
}
.side-block-1 h2{
  font-size: 46px;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px;
}
.side-block-1 p{
  font-size: 11px;
  font-weight: 400;
  margin-left: 15px;
}
.side-block-1 p:first-child{
  margin-top: 10px;
}


.side-block-2{
  box-sizing: border-box;
  position: absolute;
  margin-top: 136px;
  margin-left: 136px;
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 136px;
  height: 136px;
}
.side-block-2 h2{
  font-size: 46px;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px;
}
.side-block-2 p{
  font-size: 11px;
  font-weight: 400;
  margin-left: 15px;
}
.side-block-2 p:first-child{
  margin-top: 10px;
}


.top{
margin-left: 250px;
}
.top-left{
  margin-top: 78px;
}


.last{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 462px;
  margin-top: -380px;
}
.last .element_1{
  margin-left: 323px;
  margin-top: 56px;
}
.bottom, .bottom-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first_two{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.last_two{
    display: flex;
    flex-direction: row;
}
.element_3 .side-block-1{
  position: absolute;
  margin-top: -132px;
}
 .element_3{
  position: absolute;
  margin-left: 329px;
}

.bottom-mid{
  margin-left: 520px;
  margin-top: -80px;
}
.element_3 .side-block-2{
  margin-top: -80px;
}


@media (max-width: 320px) {
  header h1{
    font-size: 28px;
    line-height: 28px;
    margin-left: -400px;
  }
    header h3{
      font-size: 18px;
      margin-top: 10px;
      margin-left: -400px;
    }
    .elements{
      margin-left: -60px;
    }
    .elements .element_1{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .elements .element_3{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
    }
    .element_3 .bottom-left{
      margin-top: 400px;
      margin-left: -660px;
    }
    .element_1 .top-left{
      margin-top: 260px;
      margin-left: 240px;
    }
    .element_3 .bottom{
      margin-left: -400px;
      margin-top: 585px;
      position: absolute;
    }

    .element_1 .bottom-mid{
      margin-top: 260px;
      margin-left: 120px;
      position: absolute;
    }
    .element_1 .right-mid{
      margin-top: 983px;
      margin-left: -790px;
    }
    .right-mid .side-block-1{
      position: absolute;
      margin-top: -185px;
      margin-left: 55px;

    }
    .right-mid .side-block-2{
      position: absolute;
      margin-top: -131px;
      margin-left: 191px;
    }

/* .element_1 .side-block-1{
  margin-left: 4px;
}
.element_1 .side-block-2{
  margin-left: 136px;
}
.element_1 .big-block{
  margin-left: -4px;
} */
    .top-left,
    .top,
    .bottom-mid,
    .right-mid .side-block-1{
     margin-bottom: 5px;
    }
  .
}

/* .side-block-1 .side-block-2{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
} */
